{% extends 'base.html' %}

{% block title %}
	PostList
{% endblock %}


{% block body %}
	<div class="container row justify-content-center mx-auto">

		{% for p in posts %}
		<div class="card col-3 m-2 shadow-lg" style="width: 18rem;">
		  <img src="{{p.image.url}}" class="card-img-top">
		  <div class="card-body">
		    <h5 class="card-title">{{p.title}}</h5>
		    <p class="card-text">{{p.content}}</p>
		    <p class="card-text">{{p.create_date}}/{{p.author}}/{{p.category}}</p>
		    <a href="#" class="btn btn-primary">Detail</a>
		  </div>
		</div>
		{% endfor %}

	</div>
{% endblock %}